@import "mixin";

/* antd */

/* form */
.ql-search{
  .ant-form{
    .ant-form-item{
      margin-bottom: 10px;
    }
  }
}

/* modal */
.ant-modal{
  .ant-modal-header{
    padding: 10px 15px;
  }
  .ant-modal-body{
    padding: 10px 20px;
  }
}

/* moudle style */
/*start*/
.leeThem(
  //left bg: top | bot
  @logo:@logo,@leftBar:@leftBar,

  //left li: font | li active : bg | font
  @liFont:@liFont,@liActiveBg:@liActiveBg,@liActiveBorder:@liActiveBorder,

  //right: top | top font | top left border
  @topBar:@topBar,@topFont:@topFont,

  //right botBg | thems | global font color
  @rightBg:@rightBg,@thems:@thems,@fontColor:@fontColor
) {
  // common
  .ql-search-div{
    margin-bottom: 10px;
    .ant-input, .ant-select{
      min-width: 100px;
    }
    .ant-btn{
      margin-right: 10px;
    }
    &>div{
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      label{
        text-align: right;
        display: inline-block;
        color: rgba(0, 0, 0, 0.85);
        &:after {
          content: ":";
          margin: 0 4px 0 2px;
          position: relative;
          top: -0.5px;
        }
        &.label-red:before {
          color: red;
          content: "*";
          margin: 0 4px 0 2px;
          position: relative;
          top: -0.5px;
          font-size: @fontSize;
        }
      }
    }
  }

  .ql-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0, 0.5);
  }

  .ql-main{
    width: 100%;
    height: 100%;
    padding: 10px;
    .ql-main-search{}
    .ql-main-btns{
      margin-bottom: 10px;
      .ant-btn{
        margin-right: 10px;
      }
    }
    .ql-main-table{}
  }

  // moudule
  /*login|register*/
  .ql-login{
    position: absolute;
    left: calc(50% - 300px);
    top: 180px;
    width: 600px;
    height: 400px;
    background: @color;
    .ql-login-all {
      width: 600px;
      height: 400px;
      padding: 15px;
      .ql-login-all-close{
        position: absolute;
        right: -30px;
        top: 0;
        cursor: pointer;
        i{
          font-size: 25px;
          color: @color;
        }
      }
      .ql-login-all-l{
        width: 50%;
        height: 100%;
        float: left;
        background: aliceblue;
        text-align: center;
        box-shadow: -1px 2px 10px rgba(42, 50, 89, 0.7);
        .border-radius(5px 2px 2px 5px);
        img{
          width: 100%;
          //padding-top: 70px;
          //padding-bottom: 20px;
        }
        h2 {
          display: none;
          font-size: 33px;
          letter-spacing: 1em;
          margin-left: 1em;
        }
      }
      .ql-login-all-r{
        width: 50%;
        height: 100%;
        float: left;
        background: @color;
        box-shadow: 1px 2px 10px rgba(42, 50, 89, 0.7);
        .border-radius(0 5px 5px 0);
        text-align: center;
        padding-top: 30px;
        h2{
          color: @thems;
          font-size: @fontSize20;
        }
        h1{
          font-size: 25px;
          @include text-gradient;
          letter-spacing: .3em;
        }
        .ant-input-affix-wrapper{
          margin-top: 20px;
          width: 80%;
          .ant-input{
            border-width: 0 0 1px 0;
            @include border-radius(0);
            &:focus {
              outline: none !important;
              -webkit-box-shadow: none !important;
              box-shadow: none !important;
            }

            &:focus, &:hover {
              border-right: none !important;
            }
          }
        }
        .ant-btn{
          margin-top: 30px;
          width: 80%;
          color: @color;
          background: #05A7F2;
          border: none;
          &:hover,&:focus{
            border-right: none;
            box-shadow: none;
          }
        }
        p{
          margin-top: 10px;
          margin-right: 20px;
          text-align: right;
          span{
            color: @thems;
            cursor: pointer;
          }
        }
      }
    }
  }

  /*home*/
  .home{
    width: 100%;
    //height: 100%;
    padding: 15px;
    //background: @color;
    .home-search{
      width: 100%;
    }

    .home-table{}
  }
}
