/* mixin */
/*字体图标*/
[class^=icon-] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* animate */
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  50% {
    transform: translate(-90%, -100%) rotate(180deg);
  }
  100% {
    transform: translate(-60%, -90%) rotate(360deg);
  }
}
/* antd */
/* form */
.ql-search .ant-form .ant-form-item {
  margin-bottom: 10px;
}
/* modal */
.ant-modal .ant-modal-header {
  padding: 10px 15px;
}
.ant-modal .ant-modal-body {
  padding: 10px 20px;
}
/* moudle style */
/*start*/
