@import "mixin";

@leftBarW: 150px;
@leftBarL: 25px;

/*start*/
.leeThem(//left bg: top | bot
  @logo:@logo,@leftBar:@leftBar,

  //left li: font | li active : bg | font
  @liFont:@liFont,@liActiveBg:@liActiveBg,@liActiveBorder:@liActiveBorder,

  //right: top | top font | top left border
  @topBar:@topBar,@topFont:@topFont,

  //right botBg | thems | global font color
  @rightBg:@rightBg,@thems:@thems,@fontColor:@fontColor
) {
  /*lee-leftBar-bot li active*/
  .liCurrentBorColor(@liActiveBorder) {
    background: @liActiveBorder;
  }
  .liCurrentColor when (@logo = @topBar) {
    background: rgba(@logo, .1);
  }

  /*lee-leftBar-bot BG*/
  .lee-leftBar-bot-BG(@rightBg) {
    background: @rightBg;
  }
  .lee-leftBar-bot-BG when (@logo = @topBar) {
    //background: transparent;
    background: rgba(@logo, .1);
    border-right: 2px solid @leftBar;
    ul li {
      a,.links {
        color: @logo !important;
      }
    }
  }

  /*lee-rightBar-bot-BG*/
  .lee-rightBar-bot-BG(@rightBg) {
    background: @rightBg;
  }
  .lee-rightBar-bot-BG when (@logo = @topBar) {
    background: rgba(@logo, .1);
  }

  .lee-leftBar {
    width: @leftBarW;
    .lee-leftBar-top {
      width: @leftBarW;
      background: @logo;
      color: #fff;
      height: 50px;
      .lee-leftBar-logo {
        font-size: @fontSize20;
        line-height: 50px;
        padding-left: @leftBarL;
      }
    }
    .lee-leftBar-bot {
      width: 100%;
      height: calc(100% - 50px);
      background: @leftBar;
      .lee-leftBar-bot-BG;
      .lee-leftBar-list {
        ul {
          position: relative;
          li {
            width: 100%;
            min-height: 40px;
            line-height: 40px;
            transition: all 2s ease;
            a,.links {
              display: block;
              width: 100%;
              height: 100%;
              padding-left: 15px;
              font-size: @fontSize;
              color: @color;
              .anticon {
                margin-right: 7px;
                font-size: @fontSize;
              }
            }
            &.active {
              background: @liActiveBg;
              .liCurrentColor;
              border-right: 3px solid @liActiveBorder;
            }
            ul{
              li{
                padding-left: 10px;
              }
            }
          }
          .libar {
            transition: transform .5s cubic-bezier(.645, .045, .355, 1),
            height .5s cubic-bezier(.645, .045, .355, 1),
            -webkit-transform .5s cubic-bezier(.645, .045, .355, 1);
            position: absolute;
            width: 4px;
            height: 40px;
            z-index: 1;
            top: 25px;
            right: -2px;
            .liCurrentBorColor(@liActiveBorder);
          }
        }

      }
    }
  }
  .lee-rightBar {
    width: calc(100% - @leftBarW);
    height: 100%;
    color: @fontColor;
    overflow: hidden;
    position: relative;
    .lee-rightBar-top {
      width: 100%;
      height: 50px;
      background: @topBar;
      color: @topFont;
      .lee-rightBar-toogle {
        float: left;
        line-height: 50px;
        font-size: 18px;
        padding-left: 10px;
        cursor: pointer;
      }
      .lee-rightBar-search {
        width: 240px;
        padding: 0 20px;
        float: left;
        & > span {
          line-height: 50px;
          font-size: @fontSize;
          .anticon {
            margin-right: 10px;
            font-size: @fontSize20;
          }
        }
      }
      .lee-rightBar-top-r {
        float: right;
        line-height: 50px;
        padding-right: @leftBarL;
        & > div {
          display: inline-block;
          font-size: @fontSize6;
          margin-right: @leftBarL;
          cursor: pointer;
          &.user {
            margin-right: 10px;
            img {
              width: 30px;
              height: 30px;
              .border-radius(50%);
            }
          }
          &.name {
            margin-right: 5px;
          }
          span {
            .anticon, a .anticon {
              color: @color;
              font-size: 18px;
            }
          }
        }
      }
    }
    .lee-rightBar-bot {
      width: 100%;
      height: calc(100% - 50px);
      .lee-rightBar-bot-BG();
      .lee-rightBar-bot-bot {
        width: 100%;
        height: 100%;
        overflow: auto;
        .lee-rbb-all {
          width: 100%;
          height: 100%;
          padding: 15px;
        }
      }
    }
  }
}
